.item {
  display: flex;
  align-items: center;
  border-radius: var(--mantine-radius-md);
  border: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  padding: 6px 12px;
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-5));
  margin-bottom: var(--mantine-spacing-sm);
}

.item:hover {
  border: rem(1px) solid var(--mantine-color-gray-6);
}

.itemDragging {
  box-shadow: var(--mantine-shadow-sm);
}

.symbol {
  font-size: rem(16px);
  width: rem(60px);
}
